################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/D2DSharp/DykBits.D2DShart.ImageViewer/bin
/D2DSharp/DykBits.Graphics.Forms/obj
/D2DSharp/Managed.D2DSharp.Bezier/bin
/D2DSharp/Managed.D2DSharp.Bezier/obj
/D2DSharp/Managed.D2DSharp.DCSample/bin
/D2DSharp/Managed.D2DSharp.DCSample/obj
/D2DSharp/Managed.D2DSharp.DirectWrite.CustomFont/bin
/D2DSharp/Managed.D2DSharp.DirectWrite.CustomFont/obj
/D2DSharp/Managed.D2DSharp.DirectWrite.CustomLayout/bin
/D2DSharp/Managed.D2DSharp.DirectWrite.CustomLayout/obj
/D2DSharp/Managed.D2DSharp.DirectWrite.FontEnumeration/bin
/D2DSharp/Managed.D2DSharp.DirectWrite.FontEnumeration/obj
/D2DSharp/Managed.D2DSharp.DirectWrite.HitTesting/bin
/D2DSharp/Managed.D2DSharp.DirectWrite.HitTesting/obj
/D2DSharp/Managed.D2DSharp.DirectWrite.TextDialog/bin
/D2DSharp/Managed.D2DSharp.DirectWrite.TextDialog/obj
/D2DSharp/Managed.D2DSharp.Ellipse/bin
/D2DSharp/Managed.D2DSharp.Ellipse/obj
/D2DSharp/Managed.D2DSharp.Marquee/bin
/D2DSharp/Managed.D2DSharp.Marquee/obj
/D2DSharp/Managed.D2DSharp.Math/bin
/D2DSharp/Managed.D2DSharp.Math/obj
/D2DSharp/Managed.D2DSharp.Sample3/bin
/D2DSharp/Managed.D2DSharp.Sample3/obj
/D2DSharp/Managed.D2DSharp.StarField/bin
/D2DSharp/Managed.D2DSharp.StarField/obj
/D2DSharp/x64
/D2DSharp/DykBits.D2DShart.ImageViewer/obj
/D2DSharp/DykBits.Graphics.Forms/bin
/D2DSharp/D2DNativeLib/x64
/D2DSharp/D2DNativeLib/D2DNativeLib.vcxproj.user
/D2DSharp/D2DWrapper/x64
/D2DSharp/D2DWrapper/D2DNativeLib.lib
/D2DSharp/D2DWrapper/D2DWrapper.vcxproj.user
/D2DSharp/D2DWrapper.Sample/bin/x64
/D2DSharp/DykBits.D2DSharp.BrushTypes/bin
/D2DSharp/DykBits.D2DSharp.BrushTypes/obj
/D2DSharp/DykBits.D2DSharp.ClipWithLayers/bin
/D2DSharp/DykBits.D2DSharp.ClipWithLayers/obj
/D2DSharp/DykBits.D2DSharp.CombineGeometries/bin
/D2DSharp/DykBits.D2DSharp.CombineGeometries/obj
/D2DSharp/DykBits.D2DSharp.Sample2/bin
/D2DSharp/DykBits.D2DSharp.Sample2/obj
/D2DSharp/DykBits.D2DSharp.Sample3/bin
/D2DSharp/DykBits.D2DSharp.Sample3/obj
/D2DSharp/DykBits.D2DSharp.SimpleText/bin
/D2DSharp/DykBits.D2DSharp.SimpleText/obj
/D2DSharp/.vs/D2DSharp/v15
/D2DSharp/D2DWrapper.Sample/obj
/D2DSharp/Managed.D2DSharp.Lines/bin
/D2DSharp/Managed.D2DSharp.Lines/obj
